body
{
  background: linear-gradient(90deg, rgba(208,255,251,1) 0%, rgba(255,208,236,1) 100%);
}

.paragraph
{
  width:30%;
  padding-top: 50px;
  padding-left: 100px;
}

.paragraphWide
{
  width:60%;
  padding-top: 50px;
  padding-left: 100px;
}

.pageTitle
{
  position:relative;
  padding-left: 100px;
  padding-top: 50px;
}
.multipleOptions
{
  position: relative;
  padding-left: 100px;
  padding-top: 0px;
}

.option
{
  padding-bottom: 10px;
}

.backButton:hover
{
  color: black;
}

.backButton
{
  position: absolute;
  bottom: 10px;
  padding-left:100px;
}


.roundedCorners
{
  border-radius:5px;
  display:inline-block;
  overflow:hidden;
  background:#ffffff;
  border:1px solid #ffffff;
}
.dataEntryBox{
  background:#ffffff;
  width:140px;
  height:40px;
  border:0px;
  outline:none;
}


.errorMessage
{
  color: #D8000C;
  background-color: #FFBABA;
}


.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


.settingsLabel {
  display: inline-block;
  width: 200px;
  text-align: left;
}​
