{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <h1 class="pageTitle">About</h1>
        <div class="paragraphWide">
          This is the about page, explaining how to use all the features of this software.
          Everything is here in one place for if you get stuck.
        </div>
        <h3 class="pageTitle">Generating Metadata</h3>
        <div style="padding-left: 50px">

          <div class="paragraphWide">
            <br>Refresh Effect Descriptions</br>
            The accordian on the right hand side of the change
            automation page displays all the available effects in the program.
            This accordian is made automatically, so this refresh effect distription
            button goes away and checks for any new ones to update the system.
          </div>

          <div class="paragraphWide">
            <br>Update MIDI Data</br>
            When songs come into the system the MIDI data can be in lots of
            different forms. Either already split by instrument, or all together
            in one large track. In order to get the data into a usable format for
            the program, lots of back end scripts must be ran. This button ensures
            every song on the system has this information up to date.
          </div>

          <div class="paragraphWide">
            <br>Update FFT Data</br>
            To find out the volume of a track and the frequency distribution.
            We cannot use MIDI, as MIDI does not include any sound data.
            This button ensures each song has their FFT data up to date. If
            there is no .wav file for the song it will be reported there.
          </div>

          <div class="paragraphWide">
            <br>Update Final Song Data</br>
            When we make changes to the structure of the effects. More files
            must be generated in order for the final program to be ran. This
            generates all these files for each song again.
          </div>

          <div class="paragraphWide">
            <br>Update All</br>
            Runs all the above at once. This takes a few seconds. But is
            handy to see if any of the songs have failed in which regard
          </div>
        </div>

        <h3 class="pageTitle">Custom Automations</h3>
        <div style="padding-left: 50px">

          <div class="paragraphWide">
            Custom automations can be used as arguments for any function.
            Most arguments work between the range of 0 to 1, unless another
            is specified. When drawing custom automation graphs, the Y axis
            goes from 0 to 1. The X axis is not based on time but on beats.
            This is useful as automations may be used on any song. So that
            automations may be looped. They are always chagned to the nearest beat.
            If the length of beats is n.5 or above, the number of beats is rounded
            up to n+1, with the remaining points being interpolated between. Numbers
            n.49 or below are rounded down to n and the points above the line ignored.
          </div>

          <div class="paragraphWide">
            <br>Controls</br>
            Clicking on an automation name views it. New points can be added with
            a double click. Removed with middle mouse. Zoom in and out with scroll.
            Drag points to move them.
          </div>

          <div class="paragraphWide">
            <br>Adding a new custom automation</br>
            Enter a name that has not already been chosen. Then start editing points,
            press save when done. Now this automation should show up in the,
            custom automation when editing songs and can be used as an arugment.
          </div>

          <div class="paragraphWide">
            <br>Max/Min</br>
            Type a new value in the Max/Min options to change the range.
            The default is 0 to 1 so that it works with most functions,
            but for others that can take any number you may prefer to change the range.
          </div>
        </div>

        <h3 class="pageTitle">Run Program</h3>
        <div style="padding-left: 50px">
          <div class="paragraphWide">
            Since the backend of this website is connected to a CPP program.
            This executes the CPP part with the most recent edited song.
            This avoids the hassle of opening up a terminal, and carrying
            out all the make procedures for the program.
          </div>
        </div>

        <h3 class="pageTitle">Edit Song</h3>
        <div style="padding-left: 50px">

          <div class="paragraphWide">
            This is the most important part of the website. Allowing
            you to make your own custom music videos for songs.
          </div>

          <div class="paragraphWide">
            <br>Song Versions</br>
            Each song can have any number of versions. These versions
            can share photo, instrument and custom automation data.
            But have different structure files, allowing you to try
            different things without ruining your previous save.
          </div>

          <div class="paragraphWide">
            <br>Song Overview</br>
            The top middle of the page shows useful infomation about the song.
            From the MIDI data, we find the BPM of the song, as well as the length
            and milliseconds per beat. This is imporant as we will want to time
            out events to beat changes.
          </div>

          <div class="paragraphWide">
            <br>Colours</br>
            Colours are randomly generated at first for the song. Clicking
            on a colour brings up a menu allowing you to change it. Hex code
            values can also be pasted in. It's usually good to look at
            album artwork to see which colours to use.
          </div>

          <div class="paragraphWide">
            <br>Falloff</br>
            For the 4 attributes an instrument can have. Note, Duration,
            Pitch and Velocity. When the note finished, instead of the value
            dropping sharply to 0. There is some exponential decay to make
            the effect smoother. The slider ranges from 0 to 100, and decides
            how many frames this decay takes for each of the attributes.
          </div>

          <div class="paragraphWide">
            <br>Rounding</br>
            By clicking the little musical note next to an effect. The effect
            will be rounded to the nearest beat. This is very handy. Remeber that
            by making effects overlap a nice blend is made between. Use this to
            your advantange to relflect the song.
          </div>

          <div class="paragraphWide">
            <br>All Effects</br>
            There is a maximum of 3 of each effect at any time.
            They can all happen concurrently and blend together on the screen.
            Screen effects are processed first. They can effect the coordinate
            space that other functions are drawn on.
            Background effects happen next, any 3D effects will be drawn on top
            of them. Finally filter effects are drawn, think of these as the final
            layer. They can override previously wrote pixels for fades and strobes
            ect.
          </div>
          <div class="paragraphWide">

            <br>Arguments</br>
            For the description of functions they will explain which arguments
            are needed. Arguments must be seperated by a new line. If not enough
            arguments are provided, 0's will be assumed. Sometimes the arguments
            can be an integer, such as number of rotations for the rotate screen
            effect. Since 1 rotation is just as valid as 100. When an argument
            does not explain what type to do, assume it is a float between 0 and 1.
            This is useful as we can put in the values from our custom automations
            between 0 and 1. Values will be clamped if outside the range, so it
            shouldn't cause any problems. Effect type will change the way the
            specific effect works. There will be a descripion of what each one does.
          </div>
          </div>
        </div>

        <h3 class="pageTitle">All Arguments</h3>
        <div style="padding-left: 50px">
          <div class="paragraphWide">
            <br>volume</br>
            Requires the song to have a WAV file. Normalised value between
            0 and 1 of the current songs volume.
          </div>

          <div class="paragraphWide">
            <br>freq</br>
            Requires the song to have a WAV file. Normalised value between
            0 and 1 of the current song frequency distribution.
          </div>

          <div class="paragraphWide">
            <br>pitch, velocity, note, duration</br>
            These can be done on each instrument. Written as
            'instrumentName attribute'. All these values are also from 0 to 1.
            Pitch is the pitch of the current playing note. Velocity is how hard
            it was hit. Note goes to 1 when any note is played. Duration is larger
            for longer notes, for Drums this won't really work. Examples 'Bass duration',
            'Kick note', 'Lead pitch'.
          </div>

          <div class="paragraphWide">
            <br>dur</br>
            This is different from duration, but is how far through the effect you are.
            This value goes from 0 to 1. If we had a 10 second long effect, at 0 seconds
            the value is 0, 5 seconds has a value of .5 and so on. This is handy, as we
            get to explore every value of an effect as it progresses.
          </div>

          <div class="paragraphWide">
            <br>custom attributes</br>
            This will read the custom attribute for how far through a beat you are.
            Making the value follow the path you previously drew out. To call one
            of these custom attributes, just write the full name of it in place
            of an argument.
          </div>

          <div class="paragraphWide">
            <br>float</br>
            You can just write a float in for any argument aswell. That's fine
          </div>
          </div>
        </div>
        <hr style="padding-top: 500px;"></hr>
    </body>
</html>

{% endblock %}
