{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <script src="{{ url_for('static', filename = 'js/addNewSongVersion.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <h1 class="pageTitle">New song version for {{songTitle}}</h1>
        <h5 class="pageTitle">Already existing versions</h5>
        <div class="multipleOptions">
        {% for version in allVersions %}
            <div><a class="option">{{ version }}</a></div>
        {% endfor %}
        </div>
        <div style="padding-left: 100px;">
          <div style="padding-top: 100px;">

          <label for="newVersion"><a href="javascript:addNewSongVersion({{ "'" + songTitle + "'" }}, {{ allVersions|safe }})">Create new Version</a></label>
          <input type="text" id="newVersion">
          </div>
          <div>

          </div>
          <div><a class="errorMessage" id="songVersionErrorMessage"></a></div>
        </div>
        <div><a class = "backButton" href="javascript:history.back()">Back</a></div>
    </body>
</html>

{% endblock %}
