{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <script src="{{ url_for('static', filename = 'js/addNewCustomAutomation.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <h1 class="pageTitle">New Custom Automation</h1>
        <h5 class="pageTitle">Already existing automations</h5>
        <div class="multipleOptions">
        {% for automation in allNames %}
            <div><a class="option">{{ automation }}</a></div>
        {% endfor %}
        </div>
        <div style="padding-left: 100px;">
          <div style="padding-top: 100px;">

          <label for="newName"><a href="javascript:addNewCustomAutomation({{ allNames|safe }})">Create new Version</a></label>
          <input type="text" id="newName">
          </div>
          <div>

          </div>
          <div><a class="errorMessage" id="customAutomationErrorMessage"></a></div>
        </div>
        <div><a class = "backButton" href="javascript:history.back()">Back</a></div>
    </body>
</html>

{% endblock %}
