{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <h1 class="pageTitle">Choose Song version</h1>
        <div class="multipleOptions">
        {% for version in allVersions %}
            <div><a class="option" href={{ url_for("songHome", songTitle = songTitle, songVersion = version) }}>{{ songTitle + " " + version }}</a></div>
        {% endfor %}

        <div style="padding-top: 100px"><a class = "addNewButton" href={{ url_for("addNewSongVersion", songTitle = songTitle) }}>Add New Version</a></div>
        </div>
        <div><a class = "backButton" href="javascript:history.back()">Back</a></div>
    </body>
</html>

{% endblock %}
