{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <h1 class="pageTitle">Choose a Song</h1>
        <div class="multipleOptions">
        {% for songTitle in allSongs %}
            <div><a class="option" href={{ url_for("chooseSongVersion", songTitle = songTitle) }}>{{ songTitle }}</a></div>
        {% endfor %}
        <div style="padding-top: 100px"><a class = "addNewButton">Upload New Song</a></div>
        </div>
        <div><a class = "backButton" href="javascript:history.back()">Back</a></div>
    </body>
</html>

{% endblock %}
