{% extends "base.html" %}

{% block content %}
<html>
    <h1 style="color: transparent" id="canvasScale">1.0</h1>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <h1 class="pageTitle">Choose Custom Automation</h1>


        <div id="Left Column" style="float: left; width: 30%">
          <div class="multipleOptions">

          {% for name in names %}
            <div><a href="javascript:pList.replaceAllPoints({{ "'" + data[loop.index - 1]|string + "','" + name + "'"}})">{{ name }}</a></div>
          {% endfor %}

          <div style="padding-top: 100px"><a class = "addNewButton" href={{ url_for("addNewCustomAutomation") }}>Add New Automation</a></div>
          <div style="padding-top: 100px"><a href= javascript:pList.save() >Save</a></div>

          <div>
          <a style="padding-right: 50px">Min Height</a>
          <input class = "dataEntryBox" id="minHeight" type="number" value=0.0 min="-1000" max="0" step="0.1" onchange="javascript:pList.setMinHeight()"/>
          </div>
          <div>
          <a style="padding-right: 46px">Max Height</a>
          <input class = "dataEntryBox" id="maxHeight" type="number" value=1.0 min="0" max="1000" step="0.1" onchange="javascript:pList.setMaxHeight()"/>
          </div>
          </div>


          <div><a class = "backButton" href="javascript:history.back()">Back</a></div>
        </div>

        <div id="Right Column" style="float: right; width: 70%">
          <canvas id="myCanvas" width="1200" height="600" style="background-color: #FFFFFF; display: block; box-shadow: 5px 10px 8px"></canvas>
          <script src="{{ url_for('static', filename = 'js/customAutomations.js')}}"></script>
        </div>

        <div style="padding-top:600px; padding-left: 500px">
          <h3 class="pageTitle">Custom Automations</h3>
        <div>

          <div class="paragraphWide">
            Custom automations can be used as arguments for any function.
            Most arguments work between the range of 0 to 1, unless another
            is specified. When drawing custom automation graphs, the Y axis
            goes from 0 to 1. The X axis is not based on time but on beats.
            This is useful as automations may be used on any song. So that
            automations may be looped. They are always chagned to the nearest beat.
            If the length of beats is n.5 or above, the number of beats is rounded
            up to n+1, with the remaining points being interpolated between. Numbers
            n.49 or below are rounded down to n and the points above the line ignored.
          </div>

          <div class="paragraphWide">
            <br>Controls</br>
            Clicking on an automation name views it. New points can be added with
            a double click. Removed with middle mouse. Zoom in and out with scroll.
            Drag points to move them.
          </div>

          <div class="paragraphWide">
            <br>Adding a new custom automation</br>
            Enter a name that has not already been chosen. Then start editing points,
            press save when done. Now this automation should show up in the,
            custom automation when editing songs and can be used as an arugment.
          </div>

          <div class="paragraphWide">
            <br>Max/Min</br>
            Type a new value in the Max/Min options to change the range.
            The default is 0 to 1 so that it works with most functions,
            but for others that can take any number you may prefer to change the range.
          </div>
        </div>
      </div>
              <hr style="padding-top: 500px;"></hr>
    </body>
</html>

{% endblock %}
