{% extends "base.html" %}

{% block content %}

<html>
    <h1 style="color: transparent" id="canvasScale">0.5</h1>
    <body>
        <script src="{{ url_for('static', filename = 'js/editSong.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <h1 class="pageTitle" style="text-align: center;">{{ songTitle + " " + songVersion}}</h1>

        {% if errorMessage|length > 1 %}
          <div><a class="errorMessage" id="savingErrorMessage"> {{ errorMessage }}</a></div>
        {% endif %}
        <div><a class="errorMessage" id="statusErrorMessage"> {{ status }}</a></div>

        <div class="container rounded bg-light p-3" style="width: 30%; text-align:center">
        <h5 class="bpmSelection">BPM:{{data["info"]["bpm"]}}</h5>
        <h5 class="msPerBeatSelection">MS per Beat: {{data["info"]["msPerBeat"]}}</h5>
        <h5 class="songLengthSelection">Song Length: {{data["info"]["songLength"]}}</h5>
        </div>

        <div class="container-fluid rounded bg-light p-3" style="width:30%">
          <div class="row text-center pb-3">
            <div class="col-12">
              {% for c in data["colours"]%}
                <input type="color" class="colourSelection" value={{'#%02x%02x%02x' % (c[0], c[1], c[2])}}>
                <label for="col3" class="pl-2 pr-2"></label>
              {% endfor %}
            </div>
          </div>
          <div class = "slideContainer pb-3"  style="text-align: center; padding-left: 25%";>
            <table>
              <tr>
                <td><a>Duration Falloff </a></td>
                <td><input type="range" min="1" max="100" value={{data["settings"]["durationFalloff"]}} class="slider" id="durationSelection"></td>
              </tr>
              <tr>
                <td><a class="pr-5">Pitch Falloff </a></td>
                <td><input type="range" min="1" max="100" value={{data["settings"]["pitchFalloff"]}} class="slider" id="pitchSelection"></td>
              </tr>
              <tr>
                  <td><a>Velocity Falloff </a></td>
                  <td><input type="range" min="1" max="100" value={{data["settings"]["velocityFalloff"]}} class="slider" id="velocitySelection"></td>
              </tr>
            </table>
          </div>
          <div style="text-align: center">
          <div><a href="javascript:saveFile({{"'" + songTitle + "','" +  songVersion + "'"}})">Save Song</a></div>
          <div><a href="javascript:addEffect({{"'" + songTitle + "','" +  songVersion + "'"}})">Add New Effect</a></div>
          <div><a class = "option" href={{ url_for("runProgramFromEditSong", songTitle = songTitle, songVersion = songVersion, playbackStart = playbackStart, playbackSpeed = playbackSpeed) }}>Run Program</a></div>
          <div class="roundedCorners">
            <a style="padding-right: 10px">Playback Start</a>
            <input class = "dataEntryBox" id="playbackStart" type="number" value={{ playbackStart }} min="0" max="1000" step="0.1"/>
          </div>
          <div class="roundedCorners">
            <a style="padding-right: 10px">Playback Speed</a>
            <input class = "dataEntryBox" id="playbackSpeed" type="number" value={{ playbackSpeed }} min="0" max="1000" step="0.01"/>
          </div>
          </div>
        </div>



        <div class="container-fluid mainContainer pl-5 pr-5">
          <div class="row" style="width: 100%">
            <div class="col-sm">
              <!-- Left hand side column -->
                      <h3 class="pageTitle">Current Effects</h3>


                      <div class="eventsAccordion  mt-5">
                          <div class="accordion" id="eventsAccordion">
                              <!-- Accordian -->
                              {% for effect in data["effects"] %}
                              {% set outer_most_loop = loop %}
                              {% set fxGroup = [] %}
                              {% set fxGroupItem = [] %}

                              <div class="card">
                                  <div class="card-header" id={{"box" + loop.index|string}}>
                                    <h2>
                                      <a href="javascript:removeEffect({{"'" + songTitle + "','" +  songVersion + "','" + loop.index|string + "'"}})"><i class = "fa fa-trash-o"></i></a>
                                      <a href="javascript:syncStartAndEnd({{"'" + songTitle + "','" +  songVersion + "','" + loop.index|string + "','" + data["info"]["msPerBeat"]|string + "'"}})"><i class="fa fa-music" aria-hidden="true"></i></a>

                                      {% for j in ["screenEffects", "backgroundEffects", "Effects3D", "filterEffects", "activeTexture"]%}
                                      {% set outer_loop = loop %}
                                        {% for i in fx[j]%}
                                          {% if ((outer_loop.index - 1) * 100 + loop.index)|int == (effect["id"]|int) + 1 %}
                                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target={{"#" + "shrink" + outer_most_loop.index|string}}>{{ i["title"] + " " + effect["start"]|string + " to " + effect["end"]|string }}</button>
                                          {% endif %}
                                        {% endfor %}
                                      {% endfor %}
                                    </h2>
                                  </div>
                                  <div id={{"shrink" + loop.index|string}} class="collapse" aria-labelledby={{"box" + loop.index|string}} data-parent="#eventsAccordion">
                                      <div class="card-body">

                                        <!-- Accordian Body -->
                                        <div class="container rounded bg-muted">
                                          <div class="form-group row container">

                                            <h5 class="pt-2 pr-2 pl-2">Effect</h5>
                                            <div class="roundedCorners">

                                            <select class="effectSelection dataEntryBox" onchange="javascript:saveFile({{"'" + songTitle + "','" +  songVersion + "'"}})">
                                              <!-- First we have to find the already selected item, and put that fist -->
                                              {% for j in ["screenEffects", "backgroundEffects", "Effects3D", "filterEffects", "activeTexture"]%}
                                              {% set outer_loop = loop %}
                                                {% for i in fx[j]%}
                                                  {% if ((outer_loop.index - 1) * 100 + loop.index)|int == (effect["id"]|int) + 1 %}
                                                    <option value={{ (outer_loop.index - 1) * 100 + loop.index }}>{{ i["title"] }}</option>
                                                    {% if fxGroup.append(j) %}{% endif %}
                                                    {% if fxGroupItem.append(loop.index) %}{% endif %}
                                                  {% endif %}
                                                {% endfor %}
                                              {% endfor %}

                                              <!-- Then put all the other ones in afterwards -->
                                              <option value=-1>------------------------------</option>
                                              {% for j in ["screenEffects", "backgroundEffects", "Effects3D", "filterEffects", "activeTexture"]%}
                                              {% set outer_loop = loop %}
                                                {% for i in fx[j]%}
                                                  <option value={{ (outer_loop.index - 1) * 100 + loop.index }}>{{ i["title"] }}</option>
                                                {% endfor %}
                                                <option value=-1>------------------------------</option>
                                              {% endfor %}
                                            </select>
                                            </div>


                                            <h5 class="pt-2 pr-2 pl-2">Start</h5>
                                            <div class="roundedCorners">
                                            <input class = "timeStartSelection dataEntryBox" type="number" value={{(effect["start"])/1000}} min="0" max={{data["info"]["songLength"]}} step="0.01"/>
                                            </div>


                                            <h5 class="pt-2 pr-2 pl-2">End</h5>
                                            <div class="roundedCorners">
                                            <input class = "timeEndSelection dataEntryBox" type="number" value={{(effect["end"])/1000}} min="0" max={{data["info"]["songLength"]}} step="0.01"/>
                                            </div>
                                          </div>
                                          <div class="form-group row container">
                                            <div>
                                            <h5 class="p-1">Arguments</h5>
                                            <div class="roundedCorners">
                                            <textarea class="argumentsSelection" name="paragraph_text" cols="50" rows="5">{{effect["args"]}}</textarea>
                                            </div>

                                            <div>
                                            <table class="table">
                                              <thead>
                                                <tr>
                                                  <th scope="col">Argument</th>
                                                  <th scope="col">Description</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {% for a in fx[fxGroup[0]][fxGroupItem[0]-1]["args"] %}
                                                {% set argDesc = a.split(':') %}
                                                <tr>
                                                  <td>{{ argDesc[0] }}</td>
                                                  <td>{{ argDesc[1] }}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                            </div>
                                            </div>
                                          </div>
                                        </div>


                                      </div>
                                  </div>
                              </div>

                              {% endfor %}
                          </div>
                        </div>


            </div>
            <div class="col-sm">
              <!-- Right Hand size column -->
              <h3 class="pageTitle">All Effects</h3>
              <div class="masterAccordion  mt-5">
                  <div class="accordion" id="effectsAccordion">

                      <!-- Accordian -->
                      {% for key in ["screenEffects", "backgroundEffects", "Effects3D", "filterEffects", "activeTexture"] %}
                      {% set catDesc = ["Error", "These effect the whole screen coordinates, and happen before anything else", "2D Effects which usually go in the background", "Effects based of Ray Marching", "Final post processing to the image", "Change the active texture"] %}


                      <div class="card">
                          <div class="card-header" id={{key + "box"}}>
                              <h2 class="mb-0">
                                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target={{"#" + key + "shrink"}}>{{["Screen Effects", "Background Effects", "3D Effects", "Filter Effects", "Active Texture"][loop.index-1]}}</button>
                              </h2>
                          </div>
                          <div id={{key + "shrink"}} class="collapse" aria-labelledby={{key + "box"}} data-parent="#effectsAccordion">
                              <div class="card-body">
                                <!-- Description of the effect catogory -->
                                <a class="text-muted">{{catDesc[loop.index]}}</a>
                                <!-- Sub Accordian -->
                                <div class="subAccordion">
                                    <div class="accordion" id={{ key + "accordian"}}>
                                      {% for effect in fx[key] %}
                                        <div class="card">
                                            <div class="card-header" id={{effect["title"]|replace(" ","") + "box"}}>
                                                <h2 class="mb-0">
                                                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target={{"#" + effect["title"]|replace(" ","") + "shrink"}}>{{effect["title"]}}</button>
                                                </h2>
                                            </div>
                                            <div id={{effect["title"]|replace(" ","") + "shrink"}} class="collapse" aria-labelledby={{effect["title"]|replace(" ","") + "box"}} data-parent={{"#" + key + "accordian"}}>
                                                <div class="card-body">
                                                  {% for d in effect["description"] %}
                                                    <a class="text-muted">{{ d }}</a>
                                                  {% endfor %}


                                                    <table class="table">
                                                      <thead>
                                                        <tr>
                                                          <th scope="col">Argument</th>
                                                          <th scope="col">Description</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>
                                                        {% for a in effect["args"] %}
                                                        {% set argDesc = a.split(':') %}
                                                        <tr>
                                                          <td>{{ argDesc[0] }}</td>
                                                          <td>{{ argDesc[1] }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                      </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                          </div>
                                      {% endfor %}
                                    </div>
                                </div>

                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>

              <!-- Right hand side Column Continued -->
              <h3 class="pageTitle">Available Instruments</h3>
              <div class="multipleOptions">
                  {% for inst in instruments %}
                    <div><a>{{ inst }}</a></div>
                  {% endfor %}
              </div>


            <h3 class="pageTitle">Images</h3>
            <div class="multipleOptions">
                {% for image in images %}
                  <div><a>{{ image }}</a></div>
                {% endfor %}
            </div>

            <h3 class="pageTitle">Custom Automations</h3>
            <div class="multipleOptions">
                {% for name in customAutomations[0] %}
                  <div><a href="javascript:pList.replaceAllPoints({{ "'" + customAutomations[1][loop.index - 1]|string + "','" + name + "'"}})">{{ name }}</a></div>
                {% endfor %}
                <canvas id="myCanvas" width="600" height="300" style="background-color: #FFFFFF; display: block; box-shadow: 5px 10px 8px"></canvas>
                <script src="{{ url_for('static', filename = 'js/customAutomations.js')}}"></script>
            </div>
            </div>
          </div>
          </div>
          </div>
        </div>
        <h3 class="pageTitle">Edit Song</h3>
        <div style="padding-left: 50px">

          <div class="paragraphWide">
            This is the most important part of the website. Allowing
            you to make your own custom music videos for songs.
          </div>

          <div class="paragraphWide">
            <br>Song Versions</br>
            Each song can have any number of versions. These versions
            can share photo, instrument and custom automation data.
            But have different structure files, allowing you to try
            different things without ruining your previous save.
          </div>

          <div class="paragraphWide">
            <br>Song Overview</br>
            The top middle of the page shows useful infomation about the song.
            From the MIDI data, we find the BPM of the song, as well as the length
            and milliseconds per beat. This is imporant as we will want to time
            out events to beat changes.
          </div>

          <div class="paragraphWide">
            <br>Colours</br>
            Colours are randomly generated at first for the song. Clicking
            on a colour brings up a menu allowing you to change it. Hex code
            values can also be pasted in. It's usually good to look at
            album artwork to see which colours to use.
          </div>

          <div class="paragraphWide">
            <br>Falloff</br>
            For the 4 attributes an instrument can have. Note, Duration,
            Pitch and Velocity. When the note finished, instead of the value
            dropping sharply to 0. There is some exponential decay to make
            the effect smoother. The slider ranges from 0 to 100, and decides
            how many frames this decay takes for each of the attributes.
          </div>

          <div class="paragraphWide">
            <br>Rounding</br>
            By clicking the little musical note next to an effect. The effect
            will be rounded to the nearest beat. This is very handy. Remeber that
            by making effects overlap a nice blend is made between. Use this to
            your advantange to relflect the song.
          </div>

          <div class="paragraphWide">
            <br>All Effects</br>
            There is a maximum of 3 of each effect at any time.
            They can all happen concurrently and blend together on the screen.
            Screen effects are processed first. They can effect the coordinate
            space that other functions are drawn on.
            Background effects happen next, any 3D effects will be drawn on top
            of them. Finally filter effects are drawn, think of these as the final
            layer. They can override previously wrote pixels for fades and strobes
            ect.
          </div>
          <div class="paragraphWide">

            <br>Arguments</br>
            For the description of functions they will explain which arguments
            are needed. Arguments must be seperated by a new line. If not enough
            arguments are provided, 0's will be assumed. Sometimes the arguments
            can be an integer, such as number of rotations for the rotate screen
            effect. Since 1 rotation is just as valid as 100. When an argument
            does not explain what type to do, assume it is a float between 0 and 1.
            This is useful as we can put in the values from our custom automations
            between 0 and 1. Values will be clamped if outside the range, so it
            shouldn't cause any problems. Effect type will change the way the
            specific effect works. There will be a descripion of what each one does.
          </div>
          </div>
        </div>

        <h3 class="pageTitle">All Arguments</h3>
        <div style="padding-left: 50px">
          <div class="paragraphWide">
            <br>volume</br>
            Requires the song to have a WAV file. Normalised value between
            0 and 1 of the current songs volume.
          </div>

          <div class="paragraphWide">
            <br>freq</br>
            Requires the song to have a WAV file. Normalised value between
            0 and 1 of the current song frequency distribution.
          </div>

          <div class="paragraphWide">
            <br>pitch, velocity, note, duration</br>
            These can be done on each instrument. Written as
            'instrumentName attribute'. All these values are also from 0 to 1.
            Pitch is the pitch of the current playing note. Velocity is how hard
            it was hit. Note goes to 1 when any note is played. Duration is larger
            for longer notes, for Drums this won't really work. Examples 'Bass duration',
            'Kick note', 'Lead pitch'.
          </div>

          <div class="paragraphWide">
            <br>dur</br>
            This is different from duration, but is how far through the effect you are.
            This value goes from 0 to 1. If we had a 10 second long effect, at 0 seconds
            the value is 0, 5 seconds has a value of .5 and so on. This is handy, as we
            get to explore every value of an effect as it progresses.
          </div>

          <div class="paragraphWide">
            <br>custom attributes</br>
            This will read the custom attribute for how far through a beat you are.
            Making the value follow the path you previously drew out. To call one
            of these custom attributes, just write the full name of it in place
            of an argument.
          </div>

          <div class="paragraphWide">
            <br>float</br>
            You can just write a float in for any argument aswell. That's fine
          </div>
          </div>
        </div>


    <hr style="padding-top: 500px;"></hr>
    </body>
</html>

{% endblock %}
