{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <h1 class="pageTitle">Update Metadata</h1>


        <div class="multipleOptions">
          <div><a class = "option" href={{ url_for("genMetadata", songTitle = songTitle, songVersion = songVersion, action = 1)}}>Refresh Effect Descriptions</a></div>
          <div><a class = "option" href={{ url_for("genMetadata", songTitle = songTitle, songVersion = songVersion, action = 2)}}>Update MIDI Data</a></div>
          <div><a class = "option" href={{ url_for("genMetadata", songTitle = songTitle, songVersion = songVersion, action = 3)}}>Update FFT Data</a></div>
          <div><a class = "option" href={{ url_for("genMetadata", songTitle = songTitle, songVersion = songVersion, action = 4)}}>Update Final Song Data</a></div>
          <div><a class = "option" href={{ url_for("genMetadata", songTitle = songTitle, songVersion = songVersion, action = 5)}}>Update Image Data</a></div>
          <div><a class = "option" href={{ url_for("genMetadata", songTitle = songTitle, songVersion = songVersion, action = 6)}}>Update All</a></div>

        </div>

        {% if text|length > 0 %}
        <div style="padding-top: 100px; padding-left: 100px">
          <a class="errorMessage" id="automationErrorMessage">{% autoescape false %}{{ text|replace('\n', '<br>') }}{% endautoescape %}</a>
        </div>
        {% endif %}

        <hr style="padding-top: 400px;"></hr>
    </body>
</html>

{% endblock %}
