{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <h1 class="pageTitle">Home</h1>
        <div class="multipleOptions">
          <div><a class = "option" href={{ url_for("about") }}>About</a></div>
          <div><a class = "option" href={{ url_for("chooseSong") }}>Choose Song</a></div>
          <div><a class = "option" href={{ url_for("genMetadata")}}>Generate Metadata</a></div>
          <div><a class = "option" href={{ url_for("viewAllCustomAutomations")}}>Create Custom Automation</a></div>
          <div><a class = "option" href={{ url_for("viewAllEffects")}}>View All Effects</a></div>
          <div><a class = "option" href={{ url_for("viewAllVideos")}}>View All Videos</a></div>
        </div>
        <div><a class = "backButton" href="javascript:history.back()">Back</a></div>
    </body>
</html>

{% endblock %}
