{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename = 'js/renderSettings.js')}}"></script></div>
        <h1 class="pageTitle">Render Settings</h1>
        <div class="multipleOptions">


          <div><label class="checkbox-inline settingsLabel">Fullscreen</label>
          {% if settings[0] == 1.0 %}
            <input type="checkbox" id="fullscreenSelect" checked>
          {% else %}
            <input type="checkbox" id="fullscreenSelect">
          {% endif %}
          </div>

          <div><label class="settingsLabel">Wait</label>
          <input type="number" id = "waitSelect"}} min="0" max="5" step="0.1" value="{{settings[1]}}"/>
          </div>

          <div><label class="settingsLabel">Sync</label>
          <input type="number" id = "syncSelect"}} min="0" max="1" step="0.01" value="{{settings[2]}}"/>
          </div>

          <div><label class="settingsLabel">Mute</label>
            {% if settings[3] == 1.0 %}
              <input type="checkbox" id="muteSelect" checked>
            {% else %}
              <input type="checkbox" id="muteSelect">
            {% endif %}
          </div>

          <div><label class="settingsLabel">Framerate</label>
          <input type="text" id = "framerateSelect"}} min="30" max="60" step="30" value="{{settings[4]}}"/>
          </div>

          <div><label class="settingsLabel">Record</label>
            {% if settings[5] == 1.0 %}
              <input type="checkbox" id="recordSelect" checked>
            {% else %}
              <input type="checkbox" id="recordSelect">
            {% endif %}
          </div>

          <div><label class="settingsLabel">Ray Marching Max Steps</label>
          <input type="text" id = "stepsSelect"}} min="0" max="200" step="1" value="{{settings[6]}}"/>
          </div>

          <div><a href="javascript:editRenderSettings()">Save</a></div>
        </div>
    </body>
</html>

{% endblock %}
