{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <h1 class="pageTitle">Choose Option</h1>
        <div class="multipleOptions">
          <div><a class = "option" href={{ url_for("editSong", songTitle = songTitle, songVersion = songVersion) }}>Edit Song</a></div>
          <div><a class = "option" href={{ url_for("runProgramFromSongHome", songTitle = songTitle, songVersion = songVersion) }}>Run Program</a></div>
          <div><a class = "option">Upload Images</a></div>
        </div>
        <div><a class = "backButton" href="javascript:history.back()">Back</a></div>
    </body>
</html>

{% endblock %}
