{% extends "base.html" %}

{% block content %}

<html>
    <body>


    <h3 class="pageTitle">All Effects</h3>
    <div style="padding-left: 10%; padding-right: 10%" class="masterAccordion  mt-5">
        <div class="accordion" id="effectsAccordion">

            <!-- Accordian -->
            {% for key in ["screenEffects", "backgroundEffects", "Effects3D", "filterEffects", "activeTexture"] %}
            {% set catDesc = ["Error", "These effect the whole screen coordinates, and happen before anything else", "2D Effects which usually go in the background", "Effects based of Ray Marching", "Final post processing to the image", "Change the active texture"] %}


            <div class="card">
                <div class="card-header" id={{key + "box"}}>
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target={{"#" + key + "shrink"}}>{{["Screen Effects", "Background Effects", "3D Effects", "Filter Effects", "Active Texture"][loop.index-1]}}</button>
                    </h2>
                </div>
                <div id={{key + "shrink"}} class="collapse" aria-labelledby={{key + "box"}} data-parent="#effectsAccordion">
                    <div class="card-body">
                      <!-- Description of the effect catogory -->
                      <a class="text-muted">{{catDesc[loop.index]}}</a>
                      <!-- Sub Accordian -->
                      <div class="subAccordion">
                          <div class="accordion" id={{ key + "accordian"}}>
                            {% for effect in fx[key] %}
                              <div class="card">
                                  <div class="card-header" id={{effect["title"]|replace(" ","") + "box"}}>
                                      <h2 class="mb-0">
                                          <button type="button" class="btn btn-link" data-toggle="collapse" data-target={{"#" + effect["title"]|replace(" ","") + "shrink"}}>{{effect["title"]}}</button>
                                      </h2>
                                  </div>
                                  <div id={{effect["title"]|replace(" ","") + "shrink"}} class="collapse" aria-labelledby={{effect["title"]|replace(" ","") + "box"}} data-parent={{"#" + key + "accordian"}}>
                                      <div class="card-body">
                                        {% for d in effect["description"] %}
                                          <a class="text-muted">{{ d }}</a>
                                        {% endfor %}


                                          <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">Argument</th>
                                                <th scope="col">Description</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {% for a in effect["args"] %}
                                              {% set argDesc = a.split(':') %}
                                              <tr>
                                                <td>{{ argDesc[0] }}</td>
                                                <td>{{ argDesc[1] }}</td>
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                          </table>
                                      </div>
                                  </div>
                                </div>
                            {% endfor %}
                          </div>
                      </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <hr style="padding-top: 500px;"></hr>
    </body>
</html>

{% endblock %}
