{% extends "base.html" %}

{% block content %}
<html>
    <body>
        <h1 class="pageTitle" style = "padding-bottom: 100px">Choose Video</h1>
        <div class="multipleOptions">
          {% for s in songs %}
          <div><h5 class = "option">{{s}}</h5></div>
            {% for v in songVersions[loop.index - 1] %}
              <div><a class = "option" href={{ url_for("runProgramFromAllVideos", songTitle = s, songVersion = v) }}>{{s + " " + v}}</a></div>
            {% endfor %}
            <br></br>
          {% endfor%}
        </div>
    <hr style="padding-top: 500px;"></hr>
    </body>



</html>

{% endblock %}
